<div class="container">
  <div class="row justify-content-md-center">
      <% if user_signed_in? %>
      <div class="index--form">
        <%= image_tag "#{current_user.image_url}", class: "tweet--user-image" %>
        <%= render 'form', tweet: @tweet %>
      </div>
      <% end %>
      <div class="container">
        <h1>Home</h1>
      </div>
      <div class="index--content">
        <% @tweets.each do |tweet| %>
        <div class="tweet">
          <div class="tweet--header">
            <%= image_tag "#{tweet.user.image_url}", class: "tweet--user-image" %>
            <span class="tweet--username"><%= tweet.user.name %></span> •
            <%= link_to distance_of_time_in_words(Time.now, tweet.created_at), tweet_path(tweet.id), class: "tweet--date" %>
          </div>
          <div class="tweet--content">
            <p class="tweet--content-text">
              <%= tweet.content %>
            </p>
            <hr>
            <div class="row justify-content-start">
              <% if user_signed_in? %>
              <div class="col-1">
                <%= link_to "#{tweet.total_likes}", likes_path(tweet.id), method: :post, class: "far fa-heart" %>
              </div>
              <div>
              <%= link_to tweet.retweets.length, tweet_path(tweet.id), method: :post, class: "fas fa-retweet"%>
              </div>
              <hr>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
    <%= paginate @tweets %>
</div>


