<div class="container">
  <div class="m-5">
      <div class="container">
        <% if user_signed_in? %>
          <div class="justify-content ml-5 pl-5">
            <%= image_tag "#{current_user.image_url}", class: "tweet--user-image" %>
              @<%= current_user.name %>
            <div class="d-flex">
              <%= render 'form', tweet: @tweet %>
            </div>
          </div>
        <% end %>
      </div>

      <hr>
  
      <div class="container m-5">
        <% @tweets.each do |tweet| %>
        <div class="container">
          <div class="container">
            <%= image_tag "#{tweet.user.image_url}", class: "tweet--user-image" %>
            <span class="container">@<%= tweet.user.name %></span>
            <%= link_to distance_of_time_in_words(Time.now, tweet.created_at), tweet_path(tweet.id), class: "tweet--date" %>
          </div>
          <div class="container">
            <p class="tweet--content-text">
              <%= tweet.content %>
            </p>

            <hr>

            <div class="row justify-content-start">
              <% if user_signed_in? %>
              <div class="col-1">
                <%= link_to "#{tweet.total_likes}", likes_path(tweet.id), method: :post, class: "far fa-heart" %>
              </div>
              <div>
              <%= link_to tweet.retweets.length, tweet_path(tweet.id), method: :post, class: "fas fa-retweet" %>
              </div>
              <hr>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
    <%= paginate @tweets %>
</div>


