<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/601cc90a6b.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class="nav navbar-expand-lg navbar-dark bg-dark ml-auto">
    <a class="navbar-brand" href="#">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <% if user_signed_in? %>
        <li class="nav-link text-center pt-0 pb-0 w-100">
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Welcome, <%= current_user.name %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sing out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
        <% else %>
        <div class="ml-auto">
          <li>
            <%= link_to "Log in", new_user_session_path, class:'btn btn-secondary' %>
            <%= link_to "Sing up", new_user_registration_path, class: 'btn btn-secondary' %>
          </li>
        </div>
    <% end %>
  </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
